/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.hero {
  background-image: url("./images/desktop/image-hero.jpg");
  padding: 9rem 16.3rem 16.3rem 16.3rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-family: "Alata";
  padding-left: 0;
}

.list li {
  cursor: pointer;
  position: relative;
}

.list li::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 29%;
  transition: width 0.3s ease;
}

.list li:hover::after {
  width: 2rem;
}

.title-box {
  max-width: 65em;
  border: 2px solid #fff;
  padding: 4rem;
}

.title {
  font-family: "Josefin Sans";
  font-weight: 300;
  color: #fff;
  font-size: 7.2rem;
  line-height: 7rem;
  text-align: start;
}

.info-box {
  display: flex;
  align-items: flex-end;
  padding: 16.3rem;
}

.info-box img {
  max-width: 73.1rem;
}

.info-div {
  max-width: 44.5em;
  box-shadow: -100px -50px 0px 50px #fff;
}

.subtitle {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 48px;
  margin-bottom: 2.5rem;
}

.description {
  font-family: "Alata";
  font-size: 1.3rem;
  line-height: 25px;
  font-weight: 400;
  color: hsl(0, 0%, 55%);
}

.gallery {
  padding-inline: 16.3rem;
}

.gallery-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.btn {
  padding: 1.3rem 4rem;
  font-family: "Alata";
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 14px;
  letter-spacing: 5px;
  background-color: #fff;
  border: 1px solid #000;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}

.creations {
  display: grid;
  grid-template-rows: repeat(2, 450px);
  grid-template-columns: repeat(4, 256px);
  gap: 30px;
  margin-bottom: 20rem;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.text-overlay {
  font-family: "Josefin sans";
  font-size: 3.2rem;
  line-height: 32px;
  font-weight: 300;
  position: absolute;
  transform: translate(30%, -140%);
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

.footer {
  background-color: #000;
  flex-direction: column;
  display: flex;
  color: #fff;
  padding: 5rem 16.3rem;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.logo {
  max-width: 14.4rem;
}

.socials {
  display: flex;
  gap: 1.5rem;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
}

.footer-footer p {
  font-family: "Alata";
  font-size: 1.5rem;
  line-height: 25px;
  font-weight: 300;
  color: hsl(0, 0%, 41%);
}

.hamburguer {
  display: none;
}

@media (max-width: 375px) {
  .hero {
    background-image: url("./images/mobile/image-hero.jpg");
    padding: 2rem 2.4rem;
  }

  .title-box {
    padding: 2.4rem;
  }

  .title {
    font-size: 4rem;
    line-height: 38px;
  }

  .creations {
    grid-template-rows: repeat(8, 120px);
    grid-template-columns: repeat(1, 327px);
    gap: 3rem;
  }

  .list {
    visibility: hidden;
    flex-direction: column;
  }

  .footer ul {
    visibility: visible;
  }

  .hamburguer {
    display: block;
    margin-left: 10rem;
  }

  .info-div {
    box-shadow: none;
    text-align: center;
  }

  .subtitle {
    font-size: 3.2rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .info-box {
    flex-direction: column;
    align-items: center;
    padding: 10rem 4rem;
  }

  .info-box img {
    width: 28.7em;
    margin-bottom: 4rem;
  }

  .gallery {
    padding: 0 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .btn {
    position: absolute;
    top: 87%;
    left: 28%;
    margin-top: 3rem;
  }

  .footer {
    flex-direction: column;
    padding-inline: 5.1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-header {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .footer-footer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
